/*  open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v13-latin-regular.eot'); /*  IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /*  IE6-IE8 */
       url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /*  Super Modern Browsers */
       url('../fonts/open-sans-v13-latin-regular.woff') format('woff'), /*  Modern Browsers */
       url('../fonts/open-sans-v13-latin-regular.ttf') format('truetype'), /*  Safari, Android, iOS */
       url('../fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /*  Legacy iOS */
}

/* Basic reset */
* {margin: 0; padding: 0;}

html {
	background: #F7F9FB;
  color: #333;
  height: 100%;
  /*  maxvoltar.com/archive/-webkit-font-smoothing */
   -webkit-font-smoothing: antialiased;
}

body {
  background: #F7F9FB;
  color: #333;
	font-family: 'Open Sans', arial, verdana, sans-serif;
  font-size: 16px;
}

input, textarea {
  font-family: 'Open Sans', arial, verdana, sans-serif;
}

::-webkit-input-placeholder {
  background-color: transparent;
  color: #A3A9B2;
}
:-moz-placeholder { /*  Firefox 18- */
  background-color: transparent;
  color: #A3A9B2;
}
::-moz-placeholder {  /* Firefox 19+ */
  background-color: transparent;
  color: #A3A9B2;
}
:-ms-input-placeholder {
  background-color: transparent;
  color: #A3A9B2;
}

/* Bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* Navigation */
.navigation {
  background-color: #00B140;
  color: #333;
  height: 5.625rem;
}

/* Form styles */
.form {
  background-color: #F7F9FB;
  color: #333;
	position: relative;
  text-align: center;
  width: 100%;
}
.form fieldset {
	background: #F7F9FB;
	border: 0 none;
	box-sizing: border-box;
  color: #333;
  display: flex;
  flex-direction: row;
	padding: 1.875rem 1.25rem; /* 1.875rem = 30px, 1.25rem = 20px */
	/* stacking fieldsets above each other */
	position: absolute;
  width: 100%;
}
.form .input {
	margin-top: 1rem; /* 1rem = 16px */
  text-align: left;
}
/* Hide all except first fieldset */
.form fieldset:not(:first-of-type) {
	display: none;
}
/* Inputs */
.form input, .form textarea {
  background-color: #EAEFF2;
	border: 1px solid #CCD6DD;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
	border-radius: 1px;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 1.75rem; /* 1.75rem = 28px */
  padding: 0.9375rem; /* 0.9375rem = 15px */
  width: 100%;
}
.form textarea {
  height: 9.375rem; /* 9.375rem = 150px */
}
/* Buttons */
.form .action-button {
  align-self: flex-end;
	background: #27AE60;
  border: 0 none;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
	border-radius: 1px;
  bottom: 0;
  color: #FFF;
  cursor: pointer;
  font-size: 1.563rem; /* 1.563rem = 25px */
	font-weight: bold;
  left: 0;
  margin: 0;
	padding: 1.563rem; /* 1.563rem = 25px */
  text-transform: uppercase;
  width: 100%;
}
.form .action-button:hover, .form .action-button:focus {
	box-shadow: 0 0 0 2px #FFF, 0 0 0 3px #27AE60;
}

.form #fieldset-1 .action-button {
  margin-top: 22.25rem;
}
.form #fieldset-2 .action-button {
  margin-top: 8.75rem;
}

.form .disable {
  background-color: #CCD6DD;
  border: 1px solid #979797;
  color: #FFF;
}

/* Headings */
.maintitle {
  background-color: transparent;
  color: #14202C;
  font-size: 2rem; /* 2rem = 32px */
  font-weight: normal;
  margin: 0;
	padding: 0 1.25rem;
}
.title {
  background-color: transparent;
  color: #363A45;
	font-size: 1.75rem; /* 1.75rem = 28px */
  font-weight: normal;
	padding: 0 1.25rem;
  text-align: left;
}
.subtitle {
  background-color: transparent;
  color: #565D6B;
	font-size: 1.5rem; /* 1.5rem = 24px */
	font-weight: normal;
	padding: 0 1.25rem;
  text-align: left;
}
.helper {
  background-color: transparent;
  color: #565D6B;
  font-size: 1.5rem; /* 1.5rem = 24px */
	font-weight: normal;
  margin-top: 0.9375rem; /* 0.9375rem = 15px */
	padding: 0 1.25rem;
  text-align: left;
}

/* Progressbar */
.progressbar {
  background-color: #FFF;
  color: #9B9B9B;
	/* CSS counters to number the steps */
	counter-reset: step;
  height: 4.5rem; /* 4.5rem = 72px */
}
.progressbar li {
  background-color: transparent;
  color: #9B9B9B;
	float: left;
  font-size: 1.5rem;
	list-style-type: none;
	position: relative;
  top: 1rem;
  width: 33.33%;
}

.progressbar li:after {
  background-color: #CCD6DD;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #333122;
	content: '>';
  display: block;
  font-size: 1rem;
  height: 1.5rem; /* 1.5rem = 24px */
  left: -1rem;
  line-height: 1.5rem;
  position: relative;
  top: -1.75rem;
	width: 1.5rem;
}
.progressbar li:first-child:after {
	/* Connector not needed before the first step */
	content: none;
}
/* Marking active/completed steps green */
/* The number of the step and the connector before it = green */
.progressbar li.active {
  background-color: transparent;
	color: #4A4A4A;
}
.progressbar li.done {
  background-color: transparent;
	color: #00B23E;
}

/* Fileinput */
.form label {
  display: none;
}
.form .fileinput {
  background-color: #EAEFF2;
  border: 1px solid #CCD6DD;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  box-sizing: border-box;
  color: #2C3E50;
  height: 15rem; /*  15rem = 240px */
  margin-top: 0.5rem;
  text-align: center;
}
.fileinput-button {
  background-color: transparent;
  color: #00B140;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem; /*  1.5rem = 24px */
  margin-bottom: 0;
  position: relative;
  top: 30%;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter:'alpha(opacity=0)';
  direction: ltr;
  cursor: pointer;
}
.fileinput-sign {
  border: 2px solid #00B140;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  font-size: 2.5rem; /*  2.5rem = 40px */
  height: 3.125rem; /*  3.125rem = 50px */
  line-height: 3rem;
  margin: auto;
  position: relative;
  top: -0.25rem;
	width: 3.125rem;
}

/* Notification */
.notif {
  font-size: 1.313rem; /*  1.313rem = 21px */
  text-align: left;
  line-height: 2.688rem; /* 2.688rem = 43px */
  display: inline-block;
}

/* Output upload image */
.output {
  object-fit: cover;
}
.output img {
  max-width:100%;
  max-height:100%;
}

/* Error */
.error {
  color: #D64425;
  background-color: transparent;
}
